@use "../../../../assets/theme/var" as *;

.banner {
  padding-top: 9.5rem;

  @media (max-width:768px) {
    padding-top: 6rem;
  }

  &-container {
    min-height: 80vh; // Adjust slider container height
    height: 80vh; // Set the slider height to 80vh
    background-size: cover;
    background-position: center;
    position: relative;
    transition: background-image 0.5s ease-in-out;
    overflow: hidden;

    @media (max-width:991px) {
      min-height: 60vh; // Adjust slider container height
      height: 60vh; // Set the slider height to 80vh
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }
  }

  .overlay-text {
    position: absolute;
    color: white;
    z-index: 2;
    opacity: 0;
    animation: slideText 1s ease-in-out forwards;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    @media (max-width:480px) {
      top: 49%;
    }

    & h1 {
      font-size: 5rem;
      font-weight: 700;
      // margin-bottom: ;
      line-height: 6rem;
      letter-spacing: 2px;

      @media (max-width:991px) {
        font-size: 2.4rem;
        line-height: 4rem;
        margin-bottom: 0;
        line-height: normal;
      }

      @media (max-width:480px) {
        font-size: 2rem;
        line-height: 4rem;
        margin-bottom: 0;
        line-height: normal;
      }

    }

  }

  @keyframes slideText {
    100% {
      opacity: 1;
    }
  }

  &_btn {
    position: absolute;
    bottom: 99%;
    transform: translateY(50%);
    left: 16rem;
    z-index: 2;
    color: $white;

    // @media (max-width:768px) {
    //   left: 50%;
    //   transform: translateX(-50%);
    //   bottom: 33%;
    // }

    // @media (max-width:480px) {
    //   bottom: 36%;
    // }

    // button {
    //   display: block;
    //   border: none;
    //   background-color: transparent;
    //   color: $grey;
    //   font-size: 1.8rem;

    //   @media (max-width:768px) {
    //     font-size: 1.4rem;
    //   }
    // }

    // .btn-active {
    //   color: $white;
    // }
  }

  .btn-style {
    min-height: 4rem;
    width: 13rem;
    min-width: 18rem;
    z-index: 8;

    @media (max-width:480px) {
      min-height: 3rem;
      width: 9rem;
      min-width: 8rem;
      padding: 0;

    }
  }

  .slick-vertical .slick-slide {
    border: none !important;
    height: 80vh !important; // Adjust each slide height

    @media (max-width:991px) {
      height: 60vh !important; // Set the slider height to 80vh
    }

    >div {
      display: block;

      >div {
        display: block !important;
        height: 80vh; // Ensure inner div matches slider height

        @media (max-width:991px) {
          height: 60vh !important; // Set the slider height to 80vh
        }
      }
    }
  }
}

.slick-arrow.slick-next {
  display: none !important;
}