@use "../../../../assets/theme/var" as *;

.banner {
  padding-top: 9.5rem;

  & h1 {
    text-align: center;

    span {
      display: inline-block;
      position: relative;
      font-size: 4rem;
      font-weight: 600;
      margin: 1rem 0;
      line-height: normal;
      white-space: nowrap;
      padding-bottom: 1rem;

      @media (max-width:1679px) {
        font-size: 3.6rem;
      }

      @media (max-width:991px) {
        font-size: 3rem;
        white-space: wrap;

      }

      @media (max-width:767px) {
        font-size: 2.2rem;
        white-space: wrap;

      }

      &::before {
        content: "";
        position: absolute;
        width: 0;
        height: 4px;
        bottom: 0;
        left: 0;
        transition: width 0.5s ease-in-out;
        background-color: $primary;
      }

      &:hover::before {
        width: 100%;
        transition: width 0.5s ease-in-out;

        @media (max-width: 1199px) {
          width: 0;
        }
      }
    }



  }

  @media (max-width:1679px) {
    padding-top: 8.5rem;

  }

  @media (max-width:1199px) {
    padding-top: 6rem;
  }

  &-container {
    min-height: 80vh;
    height: 80vh;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: background-image 0.5s ease-in-out;
    overflow: hidden;

    @media (max-width:991px) {
      min-height: 60vh;
      height: 60vh;
    }

  }


  .slick-vertical .slick-slide {
    border: none !important;
    height: 80vh !important;

    @media (max-width:991px) {
      height: 60vh !important;
    }

    >div {
      display: block;

      >div {
        display: block !important;
        height: 80vh;

        @media (max-width:991px) {
          height: 60vh !important;
        }
      }
    }
  }

  .slick-arrow.slick-next {
    display: none !important;
  }
}