@use "../../../../assets/theme/var" as *;

.placements {
  padding: 5rem 0;

  @media (max-width:991px) {
    padding: 3rem 0;
  }

  .heading {
    margin-top: 30rem;
    display: inline-block;
    border-bottom: 2px solid $yellow;
    padding-bottom: 0.8rem;
    line-height: 5rem;
    max-width: 23rem;
    text-align: start;
  }

  img {
    height: 220px;
    width: 220px;
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: all 0.2s ease-in-out;

    &:hover {
      border-color: $yellow;
      transition: all 0.2s ease-in-out;
    }
  }
}