.placements {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
}


.box {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  position: absolute;
  opacity: 0.8;
}

.place_heading {
  margin-top: -12rem;
}


.place_con {
  overflow: hidden;
  width: 100%;

  .place_flex {
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .place_scroll {
    display: flex;
    animation: scroll 15s linear infinite;
  }

  .place_scroll img {
    height: 250px;
    width: 250px;
    cursor: pointer;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }
}