@use "../../../../assets/theme/var" as *;


.course {

  .moving_text {
    .rfm-child {
      font-size: 10rem;
      font-weight: 700;
      color: rgba($navyblue, $alpha: 0.89);

      @media (max-width:768px) {
        font-size: 7rem;
      }

      @media (max-width:480px) {
        font-size: 4rem;
      }
    }
  }

  .course-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .course-box {
    max-width: 350px;
    border: 2px solid #c5c5c5;
    border-radius: 1rem;
    padding: 1.2rem;
    text-align: center;
    position: relative;
    align-self: start;

    transition: box-shadow 0.3s ease, transform 0.3s ease;

    &:hover {
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    }

    .image-container {
      img {
        max-width: 100%;
        max-height: 100px;
        object-fit: contain;
      }
    }

    h4 {
      margin: 3rem 0;
      font-size: 1.8rem;
      color: #333;
    }

    .description {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.7s ease, opacity 0.7s ease;
      opacity: 0;

      &.show {
        max-height: 290px;
        opacity: 1;
        margin-top: 1rem;
      }
    }

    button {
      margin: 0 auto;
      display: block;
      margin-top: 1rem;
      background: none;
      border: none;
      cursor: pointer;
      text-decoration: none;
      background-color: $yellow;
      color: $white;
      border-radius: 0.4rem;
      padding: 0.8rem 1rem;

      &:hover {
        background-color: $yellow;
        color: $white;
      }

    }

    .btn-show {
      background-color: rgba($navyblue, $alpha: 0.89);

      &:hover {
        background-color: rgba($navyblue, $alpha: 0.89);
        color: $white;
      }
    }
  }
}