@use "../../../../assets/theme/var" as *;


.course {

  .moving_text {
    .rfm-child {
      font-size: 10rem;
      font-weight: 700;
      color: rgba($navyblue, $alpha: 0.89);

      @media (max-width:768px) {
        font-size: 7rem;
      }

      @media (max-width:575px) {
        font-size: 4rem;
      }
    }
  }

  .course-container {
    .course-box {
      border-radius: 2rem;
      border: 1px solid $borderclr;
      height: 100%;
    }

    .heading_text {
      background-color: $navyblue;
      padding: 2.6rem 3.6rem;
      color: $white;
      border-radius: 2rem 2rem 0 0;
      gap: 3rem;
      position: relative;

      .image {
        position: absolute;
        top: 2rem;
        right: 2rem;
      }

      & h4 {
        font-size: 4rem;
        font-family: Inter;
        max-width: 27rem;
        margin-top: 4rem;

        @media (max-width:991px) {
          font-size: 3rem;
          margin-top: 0;
        }

        @media (max-width:575px) {
          font-size: 2rem;
        }
      }

      >div {
        height: 42px;
        width: 42px;
      }
    }

    .description {
      padding: 2rem 3rem;
      font-weight: 500;
      font-size: 1.8rem;
      line-height: 3rem;

      @media (max-width:991px) {
        padding: 1rem 2rem;
        font-size: 1.6rem;
      }
    }
  }
}