@use "../../../../assets/theme/var" as *;

.our_student {
  background-color: $greybg;
  padding-top: 9rem;
  padding-bottom: 2rem;

  @media (max-width: 991px) {
    padding-top: 5rem;
  }

  .youtube_slider {
    margin-top: 6rem;
    padding: 0 5rem;
  }

  .slider-item {
    position: relative;
    padding: 0 1rem;

    .image-container {
      position: relative;
      overflow: hidden;
      border-radius: 0.5rem;

      .img-wrap {
        overflow: hidden;

        position: relative;

        img {
          border-radius: 2rem;

          @media (max-width:575px) {
            border-radius: 1rem;
          }
        }
      }

      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }
  }

  .slick-slide img {
    display: inline !important;
  }

  .slick-arrow.slick-prev {
    left: -3rem;
    top: 36%;
  }

  .slick-arrow.slick-next {
    right: -2rem;
    top: 36%;

  }

  .slick-next:before {
    color: $black;
  }

  .slick-prev:before {
    color: $black;
  }

  .infinite-slider {
    .slide-img {
      padding: 0 1rem;

      img {
        width: 50rem;
        height: 50rem;
        object-fit: cover;
        border-radius: 2rem;
        cursor: pointer;

        @media (max-width:991px) {
          width: 35rem;
          height: 35rem;
        }

        @media (max-width:575px) {
          width: 32rem;
          height: 32rem;
        }
      }
    }

    .slick-slide {
      transition: none !important;
    }
  }
}